<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">关于</h2>
                    <h3 class="section-subheading text-muted">岁月一根轴，世间倏忽一场梦</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">工作一年后</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">第二次到本命年，开始渐渐褪去学生的气息，并没有像之前无数次预想的那样，成为一个老师，而是随他南下，在温暖的南方，从事一个温暖的工作。我们有时候会去海边，有时候会去街上买几件衣裳，偶尔会随公司去附近的城市旅游，搬了两次家，慢慢的开始学会了生活</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2014</h4>
                                    <h4 class="subheading">大学 | 遇见你</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">2010年的时候，离开了呆了19年的故乡，开始了大学生涯。遇见你们，遇见你。一群神采飞扬的朋友，一个带着枯叶味道的你。我参加了诗社，结识了一群特殊的人，然后我们毕了业，留下一些珍贵的照片。你跟我说，时间飞快。</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1998-2010</h4>
                                    <h4 class="subheading">中小学生涯</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">摘茶籽，在山里找各种吃的，然后就开始在爸妈的班上开始认字。慢慢的开始离开家，慢慢的开始承受更多的作业，更大的交际圈。离家一个小时的车程，无穷无尽的知识，不知不觉的就到了18岁。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1991-07 </h4>
                                    <h4 class="subheading">我的起点</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">很多年前的时候，我出生在一座山里，一条河边。我一个数学老师，一个语文老师————他们也是我的父母。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>往世
                                    <br>茫茫
                                    <br>相隔</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>