
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p>在我们在一起刚好1500天的时候<br>我们 <font color='#FF0000'><strong>结婚</strong></font>  了！<br>一路走来，那么多岁月与点滴时刻<br>多谢你们的一路陪伴</p>

            <h1 class="brand-heading">&nbsp;</h1>
            <h1 class="brand-heading">&nbsp;</h1>
            <span class="intro-text">{{ content }}</span>
            <h5>&nbsp;</h5>
            <a href="#{{ site.pages_list['我们'] }}" class="page-scroll">
              <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
            </a>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
